<div class="container p-4">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div class="card">
        <div class="card-body">
          <form class="row g-3" action="/search" method="POST">
            <h3>Búsqueda de alumnos</h3>
            <div class="col-md-12">
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Buscar por apellido">
              </div>
              <div class="input-group mb-3">
                <input type="number" class="form-control" name="documento" id="documento"
                  placeholder=" Buscar por D.N.I.">
              </div>
              <div class="input-group mb-4">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-primary me-md-2">Buscar</button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  {{#if alumno}}
  <div class="container p-4">
    <table class="table table-hover table-sm caption-top align-middle">
      <div class="caption">
        <h3>Lista de alumnos</h3>
      </div>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Apellido</th>
          <th scope="col">Nombre</th>
          <th scope="col">Documento</th>
          <th scope="col">Fecha de nacimiento</th>
        </tr>
      </thead>
      <tbody>
        {{#each alumno}}
        <tr>
          <th scope="row">{{idAlumnos}}</th>
          <td>{{apellido}}</td>
          <td>{{nombre}}</td>
          <td>{{documento}}</td>
          <td>{{timeago nacimiento}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <a href="/view/{{idAlumnos}}" class="btn btn-primary">Ver</a>
              {{!-- <a href="/edit/{{idAlumnos}}" class="btn btn-secondary">Editar</a>
              <a href="/delete/{{idAlumnos}}" class="btn btn-danger">Eliminar</a> --}}
            </div>
          </td>
        </tr>
  </div>
  {{else}}
  <div class="col-md-4 mx-auto">
    <div class="card card-body text-center">
      <h4>No se encontraron alumnos.</h4>
    </div>
  </div>
  {{/each}}
  </tbody>
  </table>
  {{/if}}
</div>