<div class="container p-4">
    <div class="row">
        {{#each alumno}}
        <div class="col-md-3">
            <div class="card text-center bg-dark text-light">
                <div class="card-body">
                    <a href="{{apellido}}" target="_blank" class="text-light">
                        <h4 class="card-title text-uppercase">
                            {{nombre}}
                        </h4>
                        <h4 class="card-title text-uppercase">
                            {{apellido}}
                        </h4>
                    </a>
                    <p class="m-2">{{documento}}</p>
                    <p class="text-muted">
                        {{nacimiento}}
                    </p>
                    <a class="btn btn-danger" href="/links/delete/{{id}}">
                        Delete Link
                    </a>
                    <a class="btn btn-secondary" href="/links/edit/{{id}}">
                        Edit
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center bg-dark text-light">
                <p>There are not Links saved yet.</p>
                <a href="/links/add" class="text-success">Create One!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>